.home1 {
  width: 100%;
  background-color:rgb(29,73,167,1);
}

.home2 {
  width: 100%;
  margin: auto;
  display: flex;
  padding: 3%;
}

.home3 {
  width: 50%;
  margin: auto;
}

.home3 h1 {
  font-size: 40px;
  font-family: Poppins;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 2%;
  letter-spacing:0.7px;  
}

.home3 p {
  text-align: justify;
  font-weight: 300;
  font-family: Poppins;
  color: #ffffff;
  margin-bottom: 3%;
  letter-spacing:0.7px;  
}

.home4 {
  display: flex;
  align-items: center;
  column-gap: 5%;
}

.home4 button {
  padding: 15px 40px 15px 40px;
  font-size: 15px;
  border-radius: 15px;
  letter-spacing: 0.8px;
  font-weight: 600;
  background-color: #ffffff;
  border: none;
  color: #ffffff;
}

.home4 button:hover {
  opacity: 0.8;
}

.home4 a{
  text-decoration: none;
  color: #000000;
}


#home4{
  color: rgb(172,56,125);
}
.home555 {
  display: flex;
  justify-content: center;
}

.home6 {
  width: 100%;
  margin: auto;
  margin-top: 5%;
  display: flex;
  margin-bottom: 3%;
}

.home7 {
  width: 50%;
  margin: auto;
}

.home5 {
  width: 95%;
  margin: auto;
  margin-top: 3%;
  padding-bottom: 2%;
}

.home5 h2 {
  font-family: poppins;
  font-size: 40px;
  margin-top: 0;
  font-weight: 700;
  letter-spacing:0.7px; 
  margin-left: 2%;
  color:rgb(172,56,125); 
}
.home5 p {
  font-family: poppins;
  margin-top: 0;
  margin-left: 2%;
  font-weight: 500;
  letter-spacing:0.7px; 
  color:rgb(29,73,167,1);
}

.home6 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
}

.home7 {
  width: 20%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-bottom: 2%;
}

.home7 {
  transition: all 0.2s ease-in-out;
}

.home7:hover {
  transform: scale(1.1);
}

.home9 img {
  height: 170px;
}

.home11 {
  width: 80%;
  margin: auto;
  height: 180px;
}

.home11 p {
  margin-top: 0;
  font-family: poppins;
  font-size: 15px;
  text-align: center;
  margin-bottom: 0;
  letter-spacing:0.7px;  
  font-weight: 300;
  color: #2D2D2D;
}

.home11 h3 {
  margin-bottom: 0;
  font-family: poppins;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color:rgb(172,56,125); 
  margin-top: 5%;
  margin-bottom: 5%;
  letter-spacing:0.7px; 
}

.home15 {
  width: 95%;
  margin: auto;
  margin-top: 1%;
  padding-bottom: 2%;
}

.home15 h2 {
  font-family: poppins;
  font-size: 40px;
  margin-top: 0;
  font-weight: 700;
  color:rgb(172,56,125); 
  margin-left: 2%;
  letter-spacing:0.7px; 
}
.home15 p {
  font-family: poppins;
  text-align: center;
  margin-top: 0;
  font-weight: 300;
  letter-spacing:0.7px; 
  font-weight: 400;
  color:rgb(29,73,167,1);
}

.home16 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
}

.home17 {
  width: 23%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: white;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 15px solid rgb(172,56,125);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px 10px 30px 10px;
}

.home17 h1{
  text-align: center;
  font-weight: 600;
  color: #2D2D2D;
  font-size: 50px;
}

.home18{
  width: 100%;
  margin: auto;
}

.home18 p{
  color: #2D2D2D;
}

/* .home17 {
  transition: all 0.2s ease-in-out;
}


/* .home17:hover {
  transform: scale(1.1);
} */


.home20 {
  width: 100%;
  background-color:rgb(29,73,167,1);
  margin-top: 5%;
  padding-top: 3%;
}

.home20 h2 {
  font-family: poppins;
  font-size: px;
  text-align: center;
  margin-top: 0;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.7px;
}
.home20 p {
  font-family: poppins;
  text-align: center;
  margin-top: 0;
  font-weight: 300;
  letter-spacing: 0.7px;
  color: #ffffff;
}


.home21{
  width: 100%;
  margin: auto;
  display: flex;
}

.products5 a{
  text-decoration: none;
  color: white;
}


.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
	padding: 5% 0;
  padding-top: 1%;
  margin: auto;
}
.review-card {
  margin: auto;
	background-color: #f5f5f5;
	border-radius: 10px;
	padding: 20px;
	width: 400px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}
.img-area {
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 25px;
}
.img-area img {
	width: 100%;
}
.header-content {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.info h4 {
	margin: 0;
	font-size: 22px;
	font-weight: 600;
  text-align: left;
  letter-spacing: 0.7px;
}
.info p {
	margin: 5px 0 0;
  letter-spacing: 0.7px;
	font-weight: 300;
	color: #666;
  text-align: left;
}
.single-review p {
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.7;
	color: #333;
  text-align: left;
}
.review-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	font-size: 14px;
	color: #666;
}

.review-footer p{
  color: #666;
  margin-top: 2%;
}
.rating {
	display: flex;
}
.rating span {
	color: #000;
	font-size: 18px;
}
.rating span.active {
	color: #fbc02d;
}


@media (max-width: 768px) {
  .home2 {
    flex-wrap: wrap;
  }
  .home3 {
    width: 100%;
    align-items: center;
  }
  .home3 h1 {
    text-align: justify;
    font-size: 29px;
  }
  .home3 p {
    text-align: justify;
    font-size: 15px;
  }
  .home4 button {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .home555 {
    display: none;
  }

  .home6 {
    column-gap: 2px;
  }
  .home7 {
    width: 80%;
    margin-top: 10%;
  }
  .home15 h1 {
    text-align: justify;
    font-size: 29px;
  }

  .home17{
    width: 40%;
    margin-bottom: 5%;
  }

  .wrapper {
		flex-direction: column;
		align-items: center;
	}
	.review-card {
		width: 85%;
	}

}
